
{% extends 'common/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %} Forgot Password {% endblock %}
{% block content %}
<div class="container">
<div class="row">
<form action = "{% url 'forgot_password' %}" method='POST' class="col-md-5">
	{% csrf_token %}
	{% bootstrap_form f %}
	{% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
	{% endbuttons %}
</form>
</div>
</div>
{% endblock %}