{% extends 'common/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
{% if success %}
<h1>password reseted successfully</h1>
{% else %}
<div class = "container">
	<form action = "{% url 'reset_password' id=user.id %}" method = "post" class = "form">
		{% csrf_token %}
		{% bootstrap_form f %}
		{% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
	    {% endbuttons %}
	</form>
</div>

{% endif %}
{% endblock %}