{% extends 'common/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="page-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Reset Password</h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
{% if success %}
<h1 style="padding-top:50px;padding-bottom:20px; text-align:center;">Password Reset: Successful!</h1>
<div style="padding-bottom:30px; text-align:center;">
<h3>Login to Continue:&nbsp&nbsp
	    <a class="button btn btn-primary btn-lg" href="{% url 'login' %}">Log in</a></h3>
		</div>
{% else %}

<div class = "container">
<div class="col-md-6 col-md-push-1" style="padding-top:50px;">
	<form action = "{% url 'reset_password' id=user.id %}" method = "post" class = "form">
		{% csrf_token %}
		{% bootstrap_form f %}
		{% buttons %}
        </br></br><button type="submit" class="btn btn-primary">
            Submit
        </button>
	    {% endbuttons %}
	</form>
</div>
</div>
{% endif %}
{% endblock %}