{% extends 'common/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="page-banner" style="padding:40px 0;">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Dashboard</h2>
				<p>Hello {{ user.username }}</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
       <div class = "container-fluid" >
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation" class="active"><a href="#cashintra" aria-controls="cashintra" role="tab" data-toggle="tab">Cash intra</a></li>
		<li role="presentation"><a href="#cashpositional" aria-controls="cashpositional" role="tab" data-toggle="tab">Cash positional</a></li>
		<li role="presentation"><a href="#stockfuture" aria-controls="stcokfuture" role="tab" data-toggle="tab">Stock future</a></li>
		<li role="presentation"><a href="#niftyfuture" aria-controls="niftyfuture" role="tab" data-toggle="tab">Nifty future</a></li>
		<li role="presentation"><a href="#optioncallscovered" aria-controls="optioncallscovered" role="tab" data-toggle="tab">Option calls covered</a></li>
		<li role="presentation"><a href="#optioncallsuncovered" aria-controls="optioncallsuncovered" role="tab" data-toggle="tab">Option calls uncovered</a></li>
		<li role="presentation"><a href="#multibagger" aria-controls="multibagger" role="tab" data-toggle="tab">Multi bagger</a></li>
	</ul>

	<div class="tab-content">
		
		<div role="tabpanel" class="tab-pane active" id="cashintra">
			{% if cash_intra != 'not_subscribed' %}
			{% for call in cash_intra %}
			<div class="panel panel-default">
				<div class="panel-heading" style="padding-top:30px">
				
				 {% if call.achived %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-4 custom" style= "background-color: rgba(76, 165, 23, 0.8); color: rgb(30, 25, 25);">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-4 custom" style= "background-color:#ee3733;color:white;">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}
					<!--{% if call.achived%}
					<i class="fa fa-dollar "></i>
					{%endif%} -->
					
				</div>
				
				<div class="panel-body pan-body-custom">
			</br></br><div class="col-md-3 col-sm-3 card custom">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-2 col-sm-2 card custom">
					<strong class="pbody">Entry Price:&nbsp </strong>{{ call.entry_price }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Target:&nbsp </strong>{{ call.target }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Stop Loss:&nbsp </strong>{{ call.stop_loss }}</div>
					<div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Call Achieved:</strong>
					{%if call.achived%}
					<i class="fa fa-check" style="font-size:35px;color:rgba(76, 165, 23, 0.8);float:right;padding-top:7px;"></i>
					{%else%}
					<i class="fa fa-times" style="font-size:35px;color:#ee3733;float:right;padding-top:7px;"></i>
					{%endif%}
					</div> 
					
					
				</div>
				
				<div class="panel-body comment-custom">
				 <div class="detailBox">
                   <div class="col-md-12 col-sm-12 card custom">
					<strong>Comments:</strong>
					 <div class="commentBox">
                       <p class="commentDescription">{{call.comment}}</p>
					 </div>
				   </div>
				   </div></div>
			</div>
		

			{% endfor %}
			{% elif cash_intra == None %}
			<h1>No calls in this section</h1>
			{% else %}
			<div>
				<h1>You are not subscribed to this feature.</h1>
			</div>
			{% endif %}
			
		</div>
		
		<div role="tabpanel" class="tab-pane" id="cashpositional">
			{% if cash_positional != 'not_subscribed' %}
			{% for call in cash_positional %}
			<div class="panel panel-default">
				<div class="panel-heading">
				
				 {% if call.achived %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-4" style= "background-color: rgba(76, 165, 23, 0.8); color: black;">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-4" style= "background-color:#ee3733;color:white;">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}		
				</div>
				
				<div class="panel-body pan-body-custom">
			</br></br><div class="col-md-3 col-sm-3 custom ">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Entry Price:&nbsp </strong>{{ call.entry_price }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Target:&nbsp </strong>{{ call.target }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Stop Loss:&nbsp </strong>{{ call.stop_loss }}</div>
					<div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Call Achieved: </strong>{{call.achived}}</div> </strong>
					
				</div>
				<div class="panel-body comment-custom">
				 <div class="detailBox">
                   <div class="col-md-12 col-sm-12 card custom">
					<strong>Comments:</strong>
					 <div class="commentBox">
                       <p class="commentDescription">{{call.comment}}</p>
					 </div>
				   </div>
				   </div></div>
			</div>
			{% endfor %}
			{% elif not cash_positional %}
			<h1>No calls in this section</h1>
			{% else %}
			<div>
				<h1>You are not subscribed to this feature</h1>
			</div>
			{% endif %}
		</div>

		<div role="tabpanel" class="tab-pane" id="stockfuture">
			{% if stock_future != 'not_subscribed' %}
			{% for call in stock_future %}
			<div class="panel panel-default">
				<div class="panel-heading">
				
				 {% if call.achived %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-4" style= "background-color: rgba(76, 165, 23, 0.8); color: black;">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-4" style= "background-color:#ee3733;color:white;">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}
					</div>
				
				<div class="panel-body pan-body-custom">
			</br></br><div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Entry Price:&nbsp </strong>{{ call.entry_price }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Target:&nbsp </strong>{{ call.target }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Stop Loss:&nbsp </strong>{{ call.stop_loss }}</div>
					<div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Call Achieved: </strong>{{call.achived}}</div> </strong>
					
				</div>
				<div class="panel-body comment-custom">
				 <div class="detailBox">
                   <div class="col-md-12 col-sm-12 card custom">
					<strong>Comments:</strong>
					 <div class="commentBox">
                       <p class="commentDescription">{{call.comment}}</p>
					 </div>
				   </div>
				   </div></div>
			</div>
			{% endfor %}
			{% elif stock_future == None %}
			<h1>No calls in this section</h1>
			{% else %}
			<div>
				<h1>You are not subscribed to this feature.</h1>
			</div>
			{% endif %}
		</div>

		<div role="tabpanel" class="tab-pane" id="niftyfuture">
			{% if nifty_future != 'not_subscribed' %}
			{% for call in nifty_future %}
			<div class="panel panel-default">
				<div class="panel-heading">
				
				 {% if call.achived %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-4" style= "background-color: rgba(76, 165, 23, 0.8); color: black;">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-4" style= "background-color:#ee3733;color:white;">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}
					</div>
				
				<div class="panel-body pan-body-custom">
			</br></br><div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Entry Price:&nbsp </strong>{{ call.entry_price }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Target:&nbsp </strong>{{ call.target }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Stop Loss: &nbsp</strong>{{ call.stop_loss }}</div>
					<div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Call Achieved:</strong>{{call.achived}}</div> </strong>
					
				</div>
				<div class="panel-body comment-custom">
				 <div class="detailBox">
                   <div class="col-md-12 col-sm-12 card custom">
					<strong>Comments:</strong>
					 <div class="commentBox">
                       <p class="commentDescription">{{call.comment}}</p>
					 </div>
				   </div>
				   </div></div>
			</div>
			{% endfor %}
			{% elif nifty_future == None %}
			<h1>No calls in this section</h1>
			{% else %}
			<div>
				<h1>You are not subscribed to this feature.</h1>
			</div>
			{% endif %}
		</div>

		<div role="tabpanel" class="tab-pane" id="optioncallscovered">
			{% if option_calls_covered != 'not_subscribed' %}
			{% for call in option_calls_covered %}
			<div class="panel panel-default">
				<div class="panel-heading">
				
				 {% if call.achived %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-4" style= "background-color: rgba(76, 165, 23, 0.8); color: black;">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-4" style= "background-color:#ee3733;color:white;">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}
				</div>
				
				<div class="panel-body pan-body-custom">
			</br></br><div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Entry Price:&nbsp </strong>{{ call.entry_price }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Target: &nbsp</strong>{{ call.target }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Stop Loss: &nbsp</strong>{{ call.stop_loss }}</div>
					<div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Call Achieved:</strong>{{call.achived}}</div> </strong>
					
				</div>
				<div class="panel-body comment-custom">
				 <div class="detailBox">
                   <div class="col-md-12 col-sm-12 card custom">
					<strong>Comments:</strong>
					 <div class="commentBox">
                       <p class="commentDescription">{{call.comment}}</p>
					 </div>
				   </div>
				   </div></div>
			</div>
			{% endfor %}
			{% elif option_calls_covered == None %}
			<h1>No calls in this section</h1>
			{% else %}
			<div>
				<h1>You are not subscribed to this feature</h1>
			</div>
			{% endif %}
		</div>

		<div role="tabpanel" class="tab-pane" id="optioncallsuncovered">
			{% if option_calls_uncovered != 'not_subscribed' %}
			{% for call in option_calls_uncovered %}
			<div class="panel panel-default">
				<div class="panel-heading">
				
				 {% if call.achived %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-4" style= "background-color: rgba(76, 165, 23, 0.8); color: black;">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-4" style= "background-color:#ee3733;color:white;">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}	
				</div>
				
				<div class="panel-body pan-body-custom">
			</br></br><div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Entry Price: &nbsp</strong>{{ call.entry_price }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Target: &nbsp</strong>{{ call.target }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Stop Loss: &nbsp</strong>{{ call.stop_loss }}</div>
					<div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Call Achieved:</strong>{{call.achived}}</div> </strong>
					
				</div>
				<div class="panel-body comment-custom">
				 <div class="detailBox">
                   <div class="col-md-12 col-sm-12 card custom">
					<strong>Comments:</strong>
					 <div class="commentBox">
                       <p class="commentDescription">{{call.comment}}</p>
					 </div>
				   </div>
				   </div></div>
			</div>
			{% endfor %}
			{% elif option_calls_uncovered == None %}
			<h1>No calls in this section</h1>
			{% else %}
			<div>
				<h1>You are not subscribed to this feature</h1>
			</div>
			{% endif %}
		</div>

		<div role="tabpanel" class="tab-pane" id="multibagger">
			{% if multi_bagger != 'not_subscribed' %}
			{% for call in multi_bagger %}
			<div class="panel panel-default">
				<div class="panel-heading">
				
				 {% if call.achived %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-4" style= "background-color: rgba(76, 165, 23, 0.8); color: black;">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-4" style= "background-color:#ee3733;color:white;">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}
				</div>
				
				<div class="panel-body pan-body-custom">
			</br></br><div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Entry Price:&nbsp </strong>{{ call.entry_price }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Target:&nbsp </strong>{{ call.target }}</div>
					<div class="col-md-2 col-sm-2 custom">
					<strong class="pbody">Stop Loss: &nbsp</strong>{{ call.stop_loss }}</div>
					<div class="col-md-3 col-sm-3 custom">
					<strong class="pbody">Call Achieved: </strong>{{call.achived}}</div> </strong>
					
				</div>
				<div class="panel-body comment-custom">
				 <div class="detailBox">
                   <div class="col-md-12 col-sm-12 card custom">
					<strong>Comments:</strong>
					 <div class="commentBox">
                       <p class="commentDescription">{{call.comment}}</p>
					 </div>
				   </div>
				   </div></div>
			</div>
			{% endfor %}
			{% elif multi_bagger == None %}
			<h1>No calls in this Section.</h1>
			{% else %}
			<div>
				<h1>You are not subscribed to this feature.</h1>
			</div>
			{% endif %}
		</div>
	</div>
</div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
Tawk_API.visitor = {
	name  : '{{ user.username }}',
	email : '{{ user.email }}'
};
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5780b83df205e88262fb0f56/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% endblock %}