#dashboard
{
   position: relative; 
 
background-size: cover;
    height: 200px; 
    width: 100%; 
}

h4.dash { 
position:absolute;

color: black;
font-size: 30px;

 top: 70px; 
  width: 100%; 
   text-align:left;
}
#panel
{
	font-size: 18px;
}
.pan-body-custom
{
	line-height: 200%;
	font-size:12px;
	color:black;
	font-family:Arial;
}
.pbody
{
	font-family:Verdana;
	line-height: 150%;
	color: #3333ff;
	font-size:13px;
	font-weight: bold;
}
