container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python bluerun/manage.py migrate"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python bluerun/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python bluerun/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bluerun.settings"
    "PYTHONPATH": "/opt/python/current/app/bluerun:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: bluerun/wsgi.py
    NumProcesses: 3
    NumThreads: 20