{% extends 'common/base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/about-us.css' %}">
{% endblock %}
{% block content %}
    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>About Us</h2>
            <p>We are professionals</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="page-content custom-padding">


          <div class="row">

            <div class="col-md-8">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Blue Run: Overview</span></h4>

              <!-- Some Text -->
              <p class="text-custom">
                Blue Run Financial Services is an integrated firm involved in financial markets and providing diverse financial products and services. We, at Bluerun, believe in commitment to the markets and strive towards achieving the goals of our clients by following disciplined investing and informed trading. We have a strong distribution and support network which aims to ensure the best returns possible in stock markets for our clients.
              </p>
              <p>Blue Run is a leading stock advisory company that has been rated as a top performer by many renowned independent researchers and investors. Blue Run provides multitude of product to suit all kind of players in Indian Stock Market namely Stock Futures, Stock Options, Nifty Bank, Nifty and Positional and intraday cash calls . Privilege calls are Blue Run’ trademark which aids traders to trade in specified stocks.</p>
              <p>We have an unbeaten track record of giving accurate calls. More and more traders are getting attracted to Intraday and Short term delivery-trading to make quick money but often make huge losses in absence of any knowledge, strategy or discipline required for Day or Short Term trading. Only handful smart traders are able to make money in both Rising as well as Falling Market. We, at Blue Run are committed in helping our traders to benefit from Indian Stock Market by adopting a reasonably correct strategy with discipline.</p>

            </div>

					          
            <div class="col-md-4">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Our Aim</span></h4>
				
              <!-- Accordion -->
              <div class="panel-group custom-padding" id="accordion">

                <!-- Start Accordion 1 -->
                <div class="panel panel-default">
                  <!-- Toggle Heading -->
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                        <i class="fa fa-angle-up control-icon"></i>
                        <i class="fa fa-eye"></i> Vision
                      </a>
                    </h4>
                  </div>
                  <!-- Toggle Content -->
                  <div id="collapse-1" class="panel-collapse collapse in">
                    <div class="panel-body">Blue Run was an Idea to make something that holds deep ground in the Indian market. What started as a small scale attempt to grow and learn has now turned to one of the best providers of Financial Advisory services. We are committed in helping our traders to benefit from Indian Stock Market by adopting a reasonably correct strategy with discipline. We aim to equip people with the capability to trade and earn with confidence.
                  </div>
                </div>
                <!-- End Accordion 1 -->

                <!-- Start Accordion 2 -->
                <div class="panel panel-default">
                  <!-- Toggle Heading -->
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                        <i class="fa fa-angle-up control-icon"></i>
                        <i class="fa fa-suitcase"></i> Business Philosophy
                      </a>
                    </h4>
                  </div>
                  <!-- Toggle Content -->
                  <div id="collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">At Blue Run, we don't aim to work excessively, when efficiency can give far better results. Our Financial Analysts are top quality minds selected from only the best universities. Our Portfolio Management Scheme is only the best in the market giving huge returns while keeping tabs with our clients all throughout. Clients have loved our services and the clientele is continously growing. Our accuracy remains unchallenged, still giving us the upper hand over all others.  Our Motto 'Your returns, Our Priority' holds true in all our heads to provide only the best services.</div>
                  </div>
                </div>
                <!-- End Accordion 2 -->

              </div>
            </div>

          </div>     
            </div>

          </div>



          <!-- Divider -->
          <div class="hr1" style="margin-bottom:50px;"></div>

          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Our Team</span></h4>

		   <!-- Start Team Members 1 -->
          <div class="row row-custom">

            <!-- Start Memebr 1 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="gdsgs" src="{% static 'common/images/team/aditya1.jpg' %}"/>
                  <div class="member-name member-name-custom">Aditya Sahai<span>Founder & CEO</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p>BlueRun has always been a vision for me. An idea of building something that is so powerful that exposes all its clients to a vast space of continuous growth, Innovation, Scalability &  Financial Sustainability.</p>
                </div>
				</div>
                            
              </div>
            </div>
            <!-- End Memebr 1 -->
			
			
            <!-- Start Memebr 2 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/yashwardhan1.jpg' %}" />
                  <div class="member-name member-name-custom">Yashwardhan Sahai <span>Co-Founder</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p></p>
                </div>
				</div>
               
              </div>
            </div>
            <!-- End Memebr 2 -->
			
			
			<!-- Start Memebr 3 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/raghav.jpg' %}" />
                  <div class="member-name member-name-custom">Raghav Sahai <span>COO</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p></p>
                </div>
				</div>
               
              </div>
            </div>
            <!-- End Memebr 3 -->
			</div>
			
			     <!-- Start Team Members -->
          <div class="row row-custom">
		  
            <!-- Start Memebr 4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/anmol.jpg' %}" />
                  <div class="member-name member-name-custom">Anmol Khanna<span>Vice-President (CTO)</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p>I was originally attracted to BlueRun because I loved the idea of working in a young, fast-paced  environment  with seemingly endless growth potential. Blue Run has equipped me with skill sets that will transcend my current roles.</p>
                </div>
				</div>
                
              </div>
            </div>
            <!-- End Memebr 4 -->

            <!-- Start Memebr 5 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/arya.jpg' %}" />
                  <div class="member-name member-name-custom">Arya Dinesh<span>Vice-President (PR)</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p></p>
                </div>
				</div>
				
              </div>
            </div>
            <!-- End Memeber 5 -->


            <!-- Start Memebr 6 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/sharad.jpg' %}" />
                  <div class="member-name member-name-custom">Sharad Mundhara<span>HOD Analysis</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p>I kick started my career with BlueRun. I wasn't sure of the work environment I will have to work in. But after working with such enthusiastic talents, you feel good to be at the top. The emerging giants are on their way to be the best. Our clients are our priority. We aim at giving them joy and happiness.</p>
                </div>
				</div>
               
              </div>
            </div>
            <!-- End Memebr 6 -->
			</div>
			
			
			<!-- Start Team Members -->
          <div class="row row-custom">
			
            <!-- Start Memebr 7 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/shivank.jpg' %}" />
                  <div class="member-name member-name-custom" id="sp">Shivank Chauhan <span>HOD Portfolio Management</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p></p>
                </div>
				</div>
               
              </div>
            </div>
            <!-- End Memebr 7 -->
			
			
            <!-- Start Memebr 8 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/sarthak.jpg' %}" />
                  <div class="member-name member-name-custom">Sarthak Goel<span>HOD Technical</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p></p>
                </div>
				</div>
                
              </div>
            </div>
            <!-- End Memebr 8 -->

            <!-- Start Memebr 9 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="team-member">
                <!-- Memebr Photo, Name & Position -->
                <div class="member-photo">
                  <img alt="" src="{% static 'common/images/team/neelansh.jpg' %}" />
                  <div class="member-name member-name-custom">Neelansh Garg<span>HOD Technical</span></div>
                </div>
                <!-- Memebr Words -->
                <div class="member-info">
				<div class="member-custom">
                  <p></p>
                </div>
				</div>
				
              </div>
            </div>
            <!-- End Memebr 9 -->

			</div>
          
		     
          <!-- End Team Members -->

          


        </div>
      </div>

    <!-- End content -->
{% endblock %}