{% extends 'common/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Start HomePage Slider -->
<section id="home" class="container-fluid">
<iframe frameborder="0" src="http://www.indianotes.com/widgets/indices-ticker/index.php?type=indices-ticker&w=1326" width="100%" height="70px" scrolling="no" alt="ticker loading"></iframe>
  <!-- Carousel -->
  <div id="main-slide" class="carousel slide" data-ride="carousel" style="padding :0; margin:0 ;">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
      <li data-target="#main-slide" data-slide-to="2"></li>
    </ol>
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="item active">
      <img class="img-responsive" src="{% static 'margo/images/slider/bg1.jpg' %}" alt="slider" style="height :70vh; opacity :0.8">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated2">
              <span style="color :black">Welcome to <strong>Bluerun</strong></span>
            </h2>
            <h3 class="animated3">
             <strong><span style="color : white">The ultimate aim of your business</span></strong>
           </h3>
           <p class="animated4"><a href="#" class="slider btn btn-system btn-large">Check Now</a></p>
         </div>
       </div>
     </div>
     <!--/ Carousel item end -->
     <div class="item">
     <img class="img-responsive" src="{% static 'margo/images/slider/bg2.jpg' %}" alt="slider" style="height : 70vh; opacity :0.8">
      <div class="slider-content">
        <div class="col-md-12 text-center">
          <h2 class="animated4">
            <span><strong>Bluerun</strong><span style="color : white"> for the highest</span></span>
          </h2>
          <h3 class="animated5">
           <span style="color: white ">The Key of your Success</span>
         </h3>
         <p class="animated6"><a href="#" class="slider btn btn-system btn-large">Buy Now</a></p>
       </div>
     </div>
   </div>
   <!--/ Carousel item end -->
   <div class="item">
   <img class="img-responsive" src="{% static 'margo/images/slider/bg3.jpg' %}" alt="slider" style="height : 70vh; opacity :1">
    <div class="slider-content">
      <div class="col-md-12 text-center">
        <h2 class="animated7 white">
          <span>The way of <strong>Success</strong></span>
        </h2>
        <h3 class="animated8 white">
         <span style="color : black">Why you are waiting</span>
       </h3>
       <div class="container">
        <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Get Now</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
      </div>
    </div>
  </div>
</div>
<!--/ Carousel item end -->
</div>
<!-- Carousel inner end-->

<!-- Controls -->
<a class="left carousel-control" href="#main-slide" data-slide="prev">
  <span><i class="fa fa-angle-left"></i></span>
</a>
<a class="right carousel-control" href="#main-slide" data-slide="next">
  <span><i class="fa fa-angle-right"></i></span>
</a>
</div>
<!-- /carousel -->
</section>
<!-- End HomePage Slider -->


<!-- Start Content -->
<div id="content">
  <div class="container">

    <!-- Start Services Icons -->
    <div class="row">

      <!-- Start Service Icon 1 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
        <div class="service-icon">
          <i class="fa fa-dollar icon-medium-effect icon-effect-2"></i>
        </div>
        <div class="service-content">
          <h4>Stock Futures</h4>
          <p>Providing Intraday and Positional calls in the NSE futures for traders.</p>
        </div>
      </div>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
        <div class="service-icon">
          <i class="fa fa-money icon-medium-effect icon-effect-2"></i>
        </div>
        <div class="service-content">
          <h4>Stock Options</h4>
          <p>Providing highly accurate covered and uncovered Option Calls.</p>
        </div>
      </div>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
        <div class="service-icon">
          <i class="fa fa-rupee icon-medium-effect icon-effect-2 gray-icon"></i>
        </div>
        <div class="service-content">
          <h4>Nifty Derivatives</h4>
          <p>Providing NIFTY futures and options calls.</p>
        </div>
      </div>
      <!-- End Service Icon 3 -->

      <!-- Start Service Icon 4 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
        <div class="service-icon">
          <i class="fa fa-euro icon-medium-effect icon-effect-2 gray-icon"></i>
        </div>
        <div class="service-content">
          <h4>Cash Segment</h4>
          <p>Providing Day-trading strategies and investment calls.</p>
        </div>
      </div>
      <!-- End Service Icon 4 -->

    </div>
    <!-- End Services Icons -->

    <!-- Divider -->
    <div class="hr1 margin-top"></div>

    <!-- Divider -->
    <div class="hr1 margin-60"></div>


    <div class="row">
      <div class="col-md-8">

        <!-- Start Recent Posts Carousel -->
        <div class="latest-posts">
          <h4 class="classic-title"><span>Latest News</span></h4>
          <div class="latest-posts-classic custom-carousel touch-carousel" data-appeared-items="2">

            <!-- Posts 1 -->
            <div class="post-row item">
              <div class="left-meta-post">
                <div class="post-date"><span class="day">28</span><span class="month">Dec</span></div>
                <div class="post-type"><i class="fa fa-picture-o"></i></div>
              </div>
              <h3 class="post-title"><a href="#">Standard Post With Image</a></h3>
              <div class="post-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
              </div>
            </div>

            <!-- Posts 2 -->
            <div class="post-row item">
              <div class="left-meta-post">
                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                <div class="post-type"><i class="fa fa-picture-o"></i></div>
              </div>
              <h3 class="post-title"><a href="#">Link Post</a></h3>
              <div class="post-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
              </div>
            </div>

            <!-- Posts 3 -->
            <div class="post-row item">
              <div class="left-meta-post">
                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                <div class="post-type"><i class="fa fa-picture-o"></i></div>
              </div>
              <h3 class="post-title"><a href="#">Iframe Video Post</a></h3>
              <div class="post-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
              </div>
            </div>

            <!-- Posts 4 -->
            <div class="post-row item">
              <div class="left-meta-post">
                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                <div class="post-type"><i class="fa fa-picture-o"></i></div>
              </div>
              <h3 class="post-title"><a href="#">Gallery Post</a></h3>
              <div class="post-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
              </div>
            </div>

            <!-- Posts 5 -->
            <div class="post-row item">
              <div class="left-meta-post">
                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                <div class="post-type"><i class="fa fa-picture-o"></i></div>
              </div>
              <h3 class="post-title"><a href="#">Standard Post without Image</a></h3>
              <div class="post-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
              </div>
            </div>

            <!-- Posts 6 -->
            <div class="post-row item">
              <div class="left-meta-post">
                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                <div class="post-type"><i class="fa fa-picture-o"></i></div>
              </div>
              <h3 class="post-title"><a href="#">Iframe Audio Post</a></h3>
              <div class="post-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. <a class="read-more" href="#">Read More...</a></p>
              </div>
            </div>

          </div>
        </div>
        <!-- End Recent Posts Carousel -->

      </div>

      <div class="col-md-4">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Testimonials</span></h4>

        <!-- Start Testimonials Carousel -->
        <div class="custom-carousel show-one-slide touch-carousel" data-appeared-items="1">
          <!-- Testimonial 1 -->
          <div class="classic-testimonials item">
            <div class="testimonial-content">
              <p style="overflow-y:scroll; height:300px;">Very rarely does one get a Financial Services company which operates as a family .... Which treats your money as their own....Which rejoices in your happiness and which splits the losses, if ever they happen ( which is rarer than a blue moon ). BlueRun Financial Services comprises an outstanding set of professionals with decades of experience. They excel in their analysis and , importantly, their exceptional capability to identify potential wealth creators. Not one to impose their views, they are always willing to listen to your viewpoints, 24*7, and work to achieve a mutual satisfaction level. They have an extraordinary set of clients from across the globe and industry who are actively engaged in exchanging information. In a short span of time, BlueRun has evolved into a highly participative, sensitive and immensely beneficial family.

                While I acknowledge my heartfelt appreciation for the leadership and the immensely talented team, I extend my sincerest good wishes for their continued success !!</p>
            </div>
            <div class="testimonial-author"><span>- Sandeep Srivastava </span>Company executive,Gurgaon</div>
          </div>
          <!-- Testimonial 2 -->
          <div class="classic-testimonials item">
            <div class="testimonial-content">
              <p style="overflow-y:scroll; height:300px;"> I would like to share my personal experience with bluerun and its fabulous team.Im a complete novice in this field and bluerun's team especially aditya who is meticulous with his work have helped people like me in many ways.Real time analysis of the stocks done by the team and calls provided are definitely like an icing on the cake for people who feel hindrance while trading.Im glad to have so many people helping me out in the group an feel blissful of the experience with the team.Thanks for making my trading so simple and accurate.
                Bluerun-where the money runs behind you</p>
            </div>
            <div class="testimonial-author"><span>Nithin</span> - Customer</div>
          </div>
          <!-- Testimonial 3 -->
          <div class="classic-testimonials item">
            <div class="testimonial-content">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="testimonial-author"><span>John Doe</span> - Customer</div>
          </div>
        </div>
        <!-- End Testimonials Carousel -->

      </div>
    </div>

    <!-- Divider -->
    <div class="hr1 margin-60"></div>

  </div>
</div>
<!-- End content -->
{% endblock %}
