{% extends 'common/base.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/index.css' %}">

{% endblock %}
{% block content %}
<!-- Start HomePage Slider -->
<section id="home" class="container-fluid">
  <!-- Carousel -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
      <li data-target="#main-slide" data-slide-to="2"></li>
	  <li data-target="#main-slide" data-slide-to="3"></li>
    </ol>
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">

      <div class="item active">
        <img class="img-responsive" src="{% static 'margo/images/slider/bg1.jpg' %}" alt="slider" style="height :70vh; opacity :0.8">
        <div class="slider-content">
            <h2 class="animated2">
              <span style="color :black">Welcome to <strong>Bluerun</strong></span>
            </h2>
            <h3 class="animated3">
             <strong><span style="color : white">we serve you better</span></strong>
           </h3>
           <span class="animated4"><a href="pricing/" class="slider btn btn-system btn-large">Check Out Pricing</a></span>
		   <span class="animated4"><a href="pricing/" class="slider btn btn-default btn-large">Sign Up with us</a></span>
       </div>
     </div>
     <!--/ Carousel item end -->
     <div class="item">
       <img class="img-responsive" src="{% static 'margo/images/slider/bg2.jpg' %}" alt="slider" style="height : 70vh; opacity :0.8">
       <div class="slider-content">
        <div class="col-md-12 col-xs-12 text-center">
          <h2 class="animated4">
            <span><strong>Bluerun</strong><span style="color : white">For the highest</span></span>
          </h2>
          <h3 class="animated5">
           <span style="color: white ">Check out our free live demo</span>
         </h3>
         <p class="animated6"><a target="_blank" href="https://vt.smcindiaonline.org/" class="slider btn btn-system btn-large">Demo</a></p>
       </div>
     </div>
   </div>
   <!--/ Carousel item end -->
   <div class="item">
     <img class="img-responsive" src="{% static 'margo/images/slider/bg3.jpg' %}" alt="slider" style="height : 70vh; opacity :1">
     <div class="slider-content row">
      <div class="col-md-12 text-center">
        <h2 class="animated7 white">
          <span>The way of <strong>Success</strong></span>
        </h2>
        <h3 class="animated8 white">
         <span style="color : black">JOIN US</span>
       </h3>
       <div class="container">
        <a class="animated4 slider btn btn-system btn-large btn-min-block" target="_blank" href="https://drive.google.com/file/d/0B8H3PYsB2270QTBrNFVEMFBKRTA/view">Open Demat Account</a><a class="animated4 slider btn btn-default btn-min-block" target="_blank" href="https://drive.google.com/file/d/0B8H3PYsB2270WHdGT1p2eGFJUVk/view">Terms and conditions</a>
      </div>
    </div>
  </div>
</div>
<!--/ Carousel item end -->
<div class="item">
     <img class="img-responsive" src="{% static 'margo/images/slider/bg4.jpg' %}" alt="slider" style="height : 70vh; opacity :1">
     <div class="slider-content row">
      <div class="col-md-12 text-center">
        <h2 class="animated7 white">
          <span>Your Returns,<strong> Our Priority </strong></span>
        </h2>
        <h3 class="animated8 white">
         <span style="color : white">Manage your Demat Account</span>
       </h3>
       <div class="container">
        <a class="animated4 slider btn btn-system btn-large btn-min-block" target="_blank" href="https://trade.smcindiaonline.com/easytrade/">Manage Account</a>
      </div>
    </div>
  </div>
</div>
<!--/ Carousel item end -->
</div>
<!-- Carousel inner end-->

<!-- Controls -->
<a class="left carousel-control" href="#main-slide" data-slide="prev">
  <span><i class="fa fa-angle-left"></i></span>
</a>
<a class="right carousel-control" href="#main-slide" data-slide="next">
  <span><i class="fa fa-angle-right"></i></span>
</a>
</div>
<!-- /carousel -->
</section>
<!-- End HomePage Slider -->


<!-- Start Content -->
<div id="content">
  <div class="container">
  	<div class="col-md-2">
      <h4 class="classic-title"><span>IMPORTANT LINKS</span></h4>
      <ul>
        <li><a target="_blank" href="https://drive.google.com/file/d/0B8H3PYsB2270QTBrNFVEMFBKRTA/view"><i class="fa fa-angle-right"></i>&nbsp; Open Demat account</a></li></br>
        <li><a target="_blank" href="https://drive.google.com/file/d/0B8H3PYsB2270WHdGT1p2eGFJUVk/view"><i class="fa fa-angle-right"></i>&nbsp; Terms and conditions</a></li></br>
        <li><a target="_blank" href="https://drive.google.com/file/d/0B8H3PYsB2270ZllnQWFRaHJTajA/view?usp=sharing"><i class="fa fa-angle-right"></i>&nbsp; Presentation for clients</a></li></br>
		<li><a target="_blank" href="https://vt.smcindiaonline.org/"><i class="fa fa-angle-right"></i>&nbsp; Live free Demo</a></li></br>
		<li><a target="_blank" href="https://trade.smcindiaonline.com/easytrade/"><i class="fa fa-angle-right"></i>&nbsp; Manage Demat Account</a></li></br>
      </ul>
    </div>
<div class="col-md-10">
    <!-- Start Services Icons -->
    <h4 class="classic-title"><span>SERVICES</span></h4>
    <div class="row">
	
      <!-- Start Service Icon 1 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
      <a href="{% url 'services' %}">
        <div class="service-icon">
          <i class="fa fa-line-chart icon-medium-effect icon-effect-2"></i>
        </div>
        <div class="service-content">
          <h4>Stock Futures</h4>
          <p>Providing Intraday and Positional calls in the NSE futures for traders.</p>
        </div>
      </a>
      </div>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
      <a href="{% url 'services' %}">
        <div class="service-icon">
          <i class="fa fa-list icon-medium-effect icon-effect-2"></i>
        </div>
        <div class="service-content">
          <h4>Stock Options</h4>
          <p>Providing highly accurate covered and uncovered Option Calls.</p>
        </div>
        </a>
      </div>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
      <a href="{% url 'services' %}">
        <div class="service-icon">
          <i class="fa fa-bar-chart icon-medium-effect icon-effect-2 gray-icon"></i>
        </div>
        <div class="service-content">
          <h4>Nifty Derivatives</h4>
          <p>Providing NIFTY futures and options calls.</p>
        </div>
        </a>
      </div>
      <!-- End Service Icon 3 -->

      <!-- Start Service Icon 4 -->
      <div class="col-md-3 col-sm-6 service-box service-center">
      <a href="{% url 'services' %}">
        <div class="service-icon">
          <i class="fa fa-rupee icon-medium-effect icon-effect-2 gray-icon"></i>
        </div>
        <div class="service-content">
          <h4>Cash Segment</h4>
          <p>Providing Day-trading strategies and investment calls.</p>
        </div>
        </a>
      </div>
      <!-- End Service Icon 4 -->
	</div>
    </div>
    <!-- End Services Icons -->
<!-- Divider -->
    <div class="hr1 margin-top"></div>
<iframe frameborder="0" src="http://www.indianotes.com/widgets/indices-ticker/index.php?type=indices-ticker&w=1326" width="100%" height="170px" scrolling="no" alt="ticker loading"></iframe>

    <div class="row">
    
       
      <div class="col-md-8">
        <!-- <div class="latest-posts">
          <h4 class="classic-title"><span>CALLS ACHIEVED</span></h4>
           {% for call in call_obj %}
            <div class="panel panel-default">
                   <div class="panel-heading">
			<div class="col-md-12 custom-panel">
			 {% if call.trade|stringformat:"s" == "SELL" %}
				 <div class="col-md-12 custom-panel">
					 <div class="col-md-12 custom call-yes">
					 
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</br></h3>
					</div>
					</div>
					
					{%else%}
					<div class="col-md-12 custom-panel">
					<div class="col-md-12 custom call-no">
					<h3 class="panel-title" id="panel">{{ call.stock_name }}</h3>
					</div>
					</div>
					{%endif%}
			    
			</div>  
		   </div>
		   <div class="panel-body pan-body-custom">
		 
			                </br></br><div class="col-md-6 col-sm-6 custom ">
					<strong class="pbody">Date:&nbsp</strong> {{ call.created_on }}</div>
					<div class="col-md-6 col-sm-6 custom">
					<strong class="pbody">Entry Price Range:&nbsp </strong>{{ call.entry_price_range }}</div>
					<div class="col-md-6 col-sm-6 custom">
					<strong class="pbody">Time Frame:&nbsp </strong>{{ call.time_frame }}</div>
					<div class="col-md-6 col-sm-6 custom">
					<strong class="pbody">Trade:&nbsp </strong>
					{% if call.trade|stringformat:"s" == "SELL" %}<span id="sell">{{ call.trade }}</span>
					{%else%}<span id="buy">{{ call.trade}}</span>
					{%endif%}</div>
					<div class="col-md-6 col-sm-6 custom">
					<strong class="pbody">Target:&nbsp </strong>{{ call.target }}</div>
					<div class="col-md-6 col-sm-6 custom">
					<strong class="pbody">Call Achieved:&nbsp </strong><i class="fa fa-check call-yes-icon"></i></div>
		  </div>    
            </div>
			
          {% endfor %}
       
        </div> -->
        <!-- Classic Heading -->
              <h4 class="classic-title"><span>Blue Run: Overview</span></h4>

              <!-- Some Text -->
              <p class="text-custom">
                Blue Run Financial Services is an integrated firm involved in financial markets and providing diverse financial products and services. We, at Bluerun, believe in commitment to the markets and strive towards achieving the goals of our clients by following disciplined investing and informed trading. We have a strong distribution and support network which aims to ensure the best returns possible in stock markets for our clients.
              </p>
              <p>Blue Run is a leading stock advisory company that has been rated as a top performer by many renowned independent researchers and investors. Blue Run provides multitude of product to suit all kind of players in Indian Stock Market namely Stock Futures, Stock Options, Nifty Bank, Nifty and Positional and intraday cash calls . Privilege calls are Blue Run’ trademark which aids traders to trade in specified stocks.</p>
              <p>We have an unbeaten track record of giving accurate calls. More and more traders are getting attracted to Intraday and Short term delivery-trading to make quick money but often make huge losses in absence of any knowledge, strategy or discipline required for Day or Short Term trading. Only handful smart traders are able to make money in both Rising as well as Falling Market. We, at Blue Run are committed in helping our traders to benefit from Indian Stock Market by adopting a reasonably correct strategy with discipline.</p>
      </div>
     

      <div class="col-md-4">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>TESTIMONIALS</span></h4>

        <!-- Start Testimonials Carousel -->
        <div class="custom-carousel show-one-slide touch-carousel" data-appeared-items="1">
          <!-- Testimonial 1 -->
          <div class="classic-testimonials item">
            <div class="testimonial-content">
              <p style="overflow-y:scroll; height:300px;">Very rarely does one get a Financial Services company which operates as a family .... Which treats your money as their own....Which rejoices in your happiness and which splits the losses, if ever they happen ( which is rarer than a blue moon ). BlueRun Financial Services comprises an outstanding set of professionals with decades of experience. They excel in their analysis and , importantly, their exceptional capability to identify potential wealth creators. Not one to impose their views, they are always willing to listen to your viewpoints, 24*7, and work to achieve a mutual satisfaction level. They have an extraordinary set of clients from across the globe and industry who are actively engaged in exchanging information. In a short span of time, BlueRun has evolved into a highly participative, sensitive and immensely beneficial family.

                While I acknowledge my heartfelt appreciation for the leadership and the immensely talented team, I extend my sincerest good wishes for their continued success !!</p>
              </div>
              <div class="testimonial-author"><span>- Sandeep Srivastava </span>Company executive,Gurgaon</div>
            </div>
            <!-- Testimonial 2 -->
            <div class="classic-testimonials item">
              <div class="testimonial-content">
                <p style="overflow-y:scroll; height:300px;"> I would like to share my personal experience with bluerun and its fabulous team.Im a complete novice in this field and bluerun's team especially aditya who is meticulous with his work have helped people like me in many ways.Real time analysis of the stocks done by the team and calls provided are definitely like an icing on the cake for people who feel hindrance while trading.Im glad to have so many people helping me out in the group an feel blissful of the experience with the team.Thanks for making my trading so simple and accurate.
                  Bluerun-where the money runs behind you</p>
                </div>
                <div class="testimonial-author"><span>Nithin</span> - Customer</div>
              </div>
              <!-- Testimonial 3 -->
              <div class="classic-testimonials item">
                <div class="testimonial-content">
                  <p>Aditya Sahai is the founder and ceo of BlueRun Financial Services, which he started from his college dorm room in 2007. During the company's early years, Aditya acted as the sole Analyst, Trader, Support representative for the entire BLUERUN platform, allowing for it to be a stable business from the outset.  In addition to  his main responsibilities  in running  the company and setting overall market strategy, he remains actively involved in market relations, analysis and service teams within the organisation. Aditya Holds Economics honors degree from the Prestigious Sri Ram College of Commerce, Delhi.</p>
                </div>
                <div class="testimonial-author"><span>Aditya Sahai</span> - Founder and CEO</div>
              </div>
            </div>
            <!-- End Testimonials Carousel -->

          </div>
        </div>

        <!-- Divider -->
        <div class="hr1 margin-60"></div>

      </div>
    </div>
    <!-- End content -->
    {% endblock %}
