{% extends 'common/base.html' %}
{% block content %}
 
    <!-- Start Page Banner -->
    <div class="page-banner no-subtitle">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Pricing Tables</h2>
            <p>We have great plans for you</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Pricing Table Section -->
    <div class="pricing-section" style="padding-top:60px; padding-bottom:60px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Start Big Heading -->
            <div class="big-title text-center">
              <h1>We Have Nice Pricing Plans For <strong>You!</strong></h1>
            </div>
            <!-- End Big Heading -->

            <!-- Text -->
            <p class="text-center" style="margin-bottom:20px;">Choose the plan that best suits your needs and interest and get in touch with us. </p>
          </div>
        </div>

        <div class="row pricing-tables">

          <div class="col-md-12 col-sm-12">
            <div class="pricing-table">
              <div class="plan-name">
                <h3>Futures (Stock and Index )</h3>
              </div>
              <div class="plan-price">
                <div class="col-md-3 col-sm-3">
                  <strong style="font-size: 25px;">₹ 5000</strong> </br>Monthly </br>
				  <div class="plan-signup">
				<a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 13,500</strong> </br>Quarterly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 25,000</strong> </br>Half-Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 45,000</strong> </br>Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
				  </div>
                 </div>
			  </div>
			  
            </div>
          </div>
		  </div>
		  
		  

		 <div class="container">
        <div class="row pricing-tables">

          <div class="col-md-12 col-sm-12">
            <div class="pricing-table">
              <div class="plan-name">
                <h3>Options (Stock and Index)</h3>
              </div>
              <div class="plan-price">
                <div class="col-md-3 col-sm-3">
                  <strong style="font-size: 25px;">₹ 4000</strong> </br>Monthly </br>
				  <div class="plan-signup">
				<a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 10,500</strong> </br>Quarterly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 19,500</strong> </br>Half-Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 36,000</strong> </br>Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
				  </div>
                 </div>
			  </div>
			  
            </div>
          </div>
		  </div>


		
		 <div class="container">
        <div class="row pricing-tables">

          <div class="col-md-12 col-sm-12">
            <div class="pricing-table">
              <div class="plan-name">
                <h3>Cash Intraday</h3>
              </div>
              <div class="plan-price">
                <div class="col-md-3 col-sm-3">
                  <strong style="font-size: 25px;">₹ 3,500</strong> </br>Monthly </br>
				  <div class="plan-signup">
				<a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 9,500</strong> </br>Quarterly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 17,500</strong> </br>Half-Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 32,000</strong> </br>Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
				  </div>
                 </div>
			  </div>
			  
            </div>
          </div>
		  </div>



		 <div class="container">
        <div class="row pricing-tables">

          <div class="col-md-12 col-sm-12">
            <div class="pricing-table">
              <div class="plan-name">
                <h3>Cash Positional</h3>
              </div>
              <div class="plan-price">
                <div class="col-md-3 col-sm-3">
                  <strong style="font-size: 25px;">₹ 6,000</strong> </br>Monthly </br>
				  <div class="plan-signup">
				<a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 16,000</strong> </br>Quarterly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 30,000</strong> </br>Half-Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
			  </div>
			  <div class="col-md-3 col-sm-3">
			  <strong style="font-size: 25px;">₹ 55,000</strong> </br>Yearly </br>
				  <div class="plan-signup">
                <a href="#" class="btn-system btn-small">Order Now</a>
              </div>
				  </div>
                 </div>
			  </div>
			  
            </div>
          </div>
		  </div>



   {% endblock %}
