{% extends 'common/base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/services.css' %}">
{% endblock %}
{% block content %}
    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Services</h2>
            <p>We Are Professional</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="page-content">

			<h4 class="classic-title"><span>Services Offered</span></h4>

            
          <div class="row">

            <!-- Start Image Service Box 1 -->
			<div class="custom-services container">
			
			  <div class="col-md-4 dropdown">
			    <button type = "button" class = "btn btn-default btn-lg btn-block custom-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Equity Advisory
				</button>
				<div class="dropdown-menu" ></p>Equity is equity capital that is not quoted on a public exchange. The equity advisory team at BLue Run Financial helps a company manage the process of buying/sharing equity, providing impartial advice on all aspects of the transaction.
				   The team also advises on public offerings, which is where a company will look to sell its shares on a public market. </p>
				</div>
				</div>
			  
			  <div class="col-md-4 dropdown">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Portfolio Managemnet
				</button>
				<div class="dropdown-menu"></p>Portfolio management is the art and science of making decisions about investment mix and policy, matching investments to objectives, asset allocation for individuals and institutions, and balancing risk against performance. We provide best service in the field with accuracy of 4-5% </p>
				</div>
			  </div>
			  
			<div class="col-md-4 dropdown">
		      <button type = "button" class = "btn btn-default btn-lg btn-block custom-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Wealth Managemnt
			  </button>
			  <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1"></p>Wealth management is a high-level professional service that combines financial/investment advice, accounting/tax services, retirement planning and legal/estate planning for one fee. Clients work with a single wealth manager who coordinates input from financial experts and can include coordinating advice from the client's own attorney, accountants and insurance agent.</p>
				</div>
			</div>
			
			</div>
			
			<!-- Start Image Service Box 2 -->
   			<div class="custom-services container">
			
			 <div class="col-md-4 dropup">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Futures/Options Trading
				</button>
				<div class="dropdown-menu"></p>A variety of derivative products based on exchange-traded funds. ETF futures are contracts that represent an agreement to buy (or sell) the underlying ETF shares at an agreed-upon price on or before a specified date in the future. ETF options are contracts that give the holder the right to buy (or sell) the underlying ETF shares at an agreed-upon price on or before a specified date in the future.</p>
				</div>
			 </div>
			 
			 <div class="col-md-4 dropup">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Multi-Bagger Recommendations
				</button>
				<div class="dropdown-menu"></p>Stocks that give returns that are several times their costs are called multibaggers. These are essentially stocks that are undervalued and have strong fundamentals, thus presenting themselves as great investment options. Multibagger stock companies are strong on corporate governance and have businesses that are scalable within a short span of time.  </p>
				</div>
			 </div>
			 
			 <div class="col-md-4 dropup">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Risk Reward Management
				</button>
				<div class="dropdown-menu pull-right"></p>A risk/reward ratio is a ratio used by many investors to compare the expected returns of an investment to the amount of risk undertaken to capture these returns. This ratio is calculated mathematically by dividing the amount he or she stands to lose if the price moves in the unexpected direction (i.e. the risk) by the amount of profit the trader expects to have made when the position is closed (i.e. the reward).</p>
				</div>
			 </div>
			 
			</div>
		</div>

          <!-- Divider -->
          <div class="hr1" style="margin-bottom:45px;"></div>

          <div class="row">

            <div class="col-md-4">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Your Returns, Our Priority</span></h4>

              <!-- Accordion -->
              <div class="panel-group" id="accordion">

                <!-- Start Accordion 1-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed">
                                                <i class="fa fa-angle-up control-icon"></i>
                                                <i class="fa fa-user-plus"></i> Business Model
                                            </a>
                                        </h4>
                  </div>
                  <div id="collapse-tow" class="panel-collapse collapse">
                    <div class="panel-body"><img alt="" src="{% static 'common/images/business_model.png' %}" /></div>
                  </div>
                </div>
                <!-- End Accordion 1-->

                <!-- Start Accordion 2 -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                                                <i class="fa fa-angle-up control-icon"></i>
                                                <i class="fa fa-line-chart"></i> Growth-Risk
                                            </a>
                                        </h4>
                  </div>
                  <div id="collapse-three" class="panel-collapse collapse">
                    <div class="panel-body"><img alt="" src="{% static 'common/images/market_growth.png' %}" /></div>
                  </div>
                </div>
                <!-- End Accordion 2 -->

              </div>
              <!-- End Accordion -->

            </div>

            <div class="col-md-8">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Our Expertise</span></h4>

              <div class="row">

                <!-- Start Service Icon 1 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-briefcase icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>PMS(Portfolio Management)</h4>
                    <p>Our client's portfolio is managed and analysed by professionls having deep insides about the market.The accuracy is of the highest priority and return of 4-5% is ensured.</p>
                  </div>
                </div>
                <!-- End Service Icon 1 -->

                <!-- Start Service Icon 2 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-users icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>DEMAT Account</h4>
                    <p>Only few easy steps to open DEMAT A/C. Brokerage is engineered to be very affordable getting reduced depending on volumes. Depository will be NSDL.</p>
                  </div>
                </div>
                <!-- End Service Icon 2 -->

                <!-- Start Service Icon 3 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-phone icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>Trading Calls</h4>
                    <p>Provide calls in the following -<ul><li>Cash Intraday</li><li> Cash Postional</li><li>Futures</li><li>Naked and Covered Options</li><li>Multi-Bagger Recommendations</p>
                  </div>
                </div>
                <!-- End Service Icon 3 -->

                <!-- Start Service Icon 4 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-usd icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>Mutual Fund</h4>
                    <p>We are involved in the distribution of Mutual Funds. Top mutual funds under our folio are-<ul><li>ICICI prudential discovery fund</li><li>HDFC top 200 fund</li><li>Birla Sun life fund</li><li>Franklin Templeton</li></ul></p>
                  </div>
                </div>
                <!-- End Service Icon 4 -->

                <!-- Start Service Icon 5 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-sort-amount-asc icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>SIP (Systematic Investment Plan)</h4>
                    <p>SIP is an investment vehicle offered to investors, allowing them to invest using small periodically amounts instead of lump sums. Frequency of investment is usually weekly, monthly or quarterly ensures returns in the long run.</p>
                  </div>
                </div>
                <!-- End Service Icon 5 -->

                <!-- Start Service Icon 6 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-exchange icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>IPO (Initial Public Offering)</h4>
                    <p>An IPO is the first sale of stock by a private company to the public. The issuer obtains the assistance of an underwriting firm, which helps it determine what type of security to issue, the best offering price and the time to bring it to market.</p>
                  </div>
                </div>
                <!-- End Service Icon 6 -->

              </div>
            </div>

          </div>

         

            </div>

          
          </div>


        </div>
      </div>
    </div>
    <!-- End Content -->


   
    {% endblock %}