{% extends 'common/base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/services.css' %}">
{% endblock %}
{% block content %}
    <!-- Start Page Banner -->
    <div class="page-banner" style="padding:40px 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Services</h2>
            <p>We Are Professional</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Banner -->


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="page-content">

			<h4 class="classic-title"><span>Services Offered</span></h4>

            
          <div class="row">

            <!-- Start Image Service Box 1 -->
			<div class="custom-services">
			
			  <div class="col-md-4">
			    <button type = "button" class = "btn btn-default btn-lg btn-block custom-button">
					Equity Advisory
				</button>
			  </div>
			  
			  <div class="col-md-4">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button">
					Portfolio Managemnet
				</button>
			  </div>
			  
			<div class="col-md-4">
		      <button type = "button" class = "btn btn-default btn-lg btn-block custom-button">
				Wealth Managemnt
			  </button>
			</div>
			
			</div>
			
			<!-- Start Image Service Box 2 -->
   			<div class="custom-services">
			
			 <div class="col-md-4">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button">
					Futures/Options Trading
				</button>
			 </div>
			 
			 <div class="col-md-4">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button">
					Multi-Bagger Recommendations
				</button>
			 </div>
			 
			 <div class="col-md-4">
				<button type = "button" class = "btn btn-default btn-lg btn-block custom-button">
					Risk Reward Management
				</button>
			 </div>
			 
			</div>
		</div>

          <!-- Divider -->
          <div class="hr1" style="margin-bottom:45px;"></div>

          <div class="row">

            <div class="col-md-4">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Your Returns, Our Priority</span></h4>

              <!-- Accordion -->
              <div class="panel-group" id="accordion">

                <!-- Start Accordion 1 -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                                                <i class="fa fa-angle-up control-icon"></i>
                                                <i class="fa fa-link"></i> Integrity
                                            </a>
                                        </h4>
                  </div>
                  <div id="collapse-one" class="panel-collapse collapse in">
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ea commodo consequat. Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore fugiat nulla pariatur.</div>
                  </div>
                </div>
                <!-- End Accordion 1 -->

                <!-- Start Accordion 2 -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-tow" class="collapsed">
                                                <i class="fa fa-angle-up control-icon"></i>
                                                <i class="fa fa-user-plus"></i> Team Work
                                            </a>
                                        </h4>
                  </div>
                  <div id="collapse-tow" class="panel-collapse collapse">
                    <div class="panel-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a <strong>more-or-less</strong> normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
                  </div>
                </div>
                <!-- End Accordion 2 -->

                <!-- Start Accordion 3 -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three" class="collapsed">
                                                <i class="fa fa-angle-up control-icon"></i>
                                                <i class="fa fa-line-chart"></i> Attitude
                                            </a>
                                        </h4>
                  </div>
                  <div id="collapse-three" class="panel-collapse collapse">
                    <div class="panel-body"><strong>Duis</strong> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore...</div>
                  </div>
                </div>
                <!-- End Accordion 3 -->

              </div>
              <!-- End Accordion -->

            </div>

            <div class="col-md-8">

              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Our Expertise</span></h4>

              <div class="row">

                <!-- Start Service Icon 1 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-briefcase icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>PMS(Portfolio Management)</h4>
                    <p>Our client's portfolio is managed and analysed by professionls having deep insides about the market.The accuracy is of the highest priority and return of 4-5% is ensured.</p>
                  </div>
                </div>
                <!-- End Service Icon 1 -->

                <!-- Start Service Icon 2 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-users icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>DEMAT Account</h4>
                    <p>Only few easy steps to open DEMAT A/C. Brokerage is engineered to be very affordable getting reduced depending on volumes. Depository will be NSDL.</p>
                  </div>
                </div>
                <!-- End Service Icon 2 -->

                <!-- Start Service Icon 3 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-phone icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>Trading Calls</h4>
                    <p>Provide calls in the following -<ul><li>Cash Intraday</li><li> Cash Postional</li><li>Futures</li><li>Naked and Covered Options</li><li>Multi-Bagger Recommendations</p>
                  </div>
                </div>
                <!-- End Service Icon 3 -->

                <!-- Start Service Icon 4 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-usd icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>Mutual Fund</h4>
                    <p>We are involved in the distribution of Mutual Funds. Top mutual funds under our folio are-<ul><li>ICICI prudential discovery fund</li><li>HDFC top 200 fund</li><li>Birla Sun life fund</li><li>Franklin Templeton</li></ul></p>
                  </div>
                </div>
                <!-- End Service Icon 4 -->

                <!-- Start Service Icon 5 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-sort-amount-asc icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>SIP (Systematic Investment Plan)</h4>
                    <p>SIP is an investment vehicle offered to investors, allowing them to invest using small periodically amounts instead of lump sums. Frequency of investment is usually weekly, monthly or quarterly ensures returns in the long run.</p>
                  </div>
                </div>
                <!-- End Service Icon 5 -->

                <!-- Start Service Icon 6 -->
                <div class="col-md-6 service-box service-icon-left-more custom-expertise">
                  <div class="service-icon">
                    <i class="fa fa-exchange icon-medium"></i>
                  </div>
                  <div class="service-content">
                    <h4>IPO (Initial Public Offering)</h4>
                    <p>An IPO is the first sale of stock by a private company to the public. The issuer obtains the assistance of an underwriting firm, which helps it determine what type of security to issue, the best offering price and the time to bring it to market.</p>
                  </div>
                </div>
                <!-- End Service Icon 6 -->

              </div>
            </div>

          </div>

         

            </div>

          
          </div>


        </div>
      </div>
    </div>
    <!-- End Content -->


   
    {% endblock %}